alpha_strike
  display: block
  border: 1px solid red
  border-radius: 4px
  color: red
  cursor: pointer
  // backgroundColor: 'transparent'
  // fontFamily: "'Open Sans Condensed', sans-serif"
  font-family: Roboto, sans-serif
  padding: 10px 5px
  margin-top: 3px
  margin-bottom: 3px
  min-width: 100px
  max-width: 150px
  text-align: center
