.info
  display: inline-block
  text-align: center
  border: 1px solid #424242
  padding: 5px 10px
  margin: 20px 20px
  flex: 1 0 0

.info-title
  display: block
  color: #AFCEEC

.info-value
  font-size: 3em

.info-value-divider
  display: inline
  color: #939393
  font-size: 3em
  padding-left: 7px

.info-label
  color: #AFCEEC
  display: block

