info
  // flex: 1 0 0
  background-color: #202020
  width: 255px
  width: 255px
  padding-left: 40px
  padding-right: 40px

  h1
    margin-left: 20px
    color: hsla(55, 90%, 52%, 1)

info_wrapper
  display: flex
  flex-wrap: wrap

.info
  display: inline-block
  flex: 1 0 0
  min-width: 188px
  text-align: center
  border: 1px solid #424242
  padding: 5px 10px
  margin: 20px 20px

.info-title
  display: block
  color: #AFCEEC

.info-value
  font-size: 2em

.info-value-divider
  display: inline
  color: #939393
  font-size: 2.4em
  padding-left: 7px

.info-label
  color: #AFCEEC
  display: block
  font-size: .8em


x_cont
  display: flex
  height: 50px
  font-family: monospace
  border: 1px solid #424242
  justify-content: center
  width: 215px
  margin: 20px


  x_left
    font-size: 1.4em
    width: 45%
    text-align: right

    label
      display: block
      font-size: .8em
      color: #AFCEEC

  x_div
    font-size: 1.4em
    padding: 0 8px
    width: 10%
    text-align: center
    color: #939393
  x_right
    font-size: 1.4em
    width: 45%
    text-align: left

    label
      display: block
      font-size: .8em
      color: #AFCEEC
