smurfy_scraper
  input
    background-color: gray
    &.loading
      background-color: orange
      color: #fff
    &.loaded
      background-color: green
      color: #fff
    &.errored
      background-color: red
      color: #fff

