triggers
  display: flex
  justify-content: space-between
  flex-direction: row
  max-width: 420px
  align-items: center

group_trigger_wrapper
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-around
  width: 120px

weapon_group_trigger
  border: 1px solid red
  border-radius: 3px
  padding: 2px
  color: red
  align-self: flex-start
