// $colors-laser: #e67e22
// $colors-missile: blue
// $colors-ballistic: purple

$colors-laser: hsla(55, 60%, 52%, 1)
$colors-missile: hsla(209, 60%, 52%, 1)
$colors-ballistic: hsla(284, 60%, 52%, 1)
