/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/cooldown_timer.sass */
cooldown_timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  height: 20px;
  margin-right: 3px;
  text-align: right;
  border: 1px solid #666666;
  padding: 4px; }
