/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/faction_select.sass */
faction_select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px; }

/* line 5, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/faction_select.sass */
faction {
  border: 1px solid green;
  padding-left: 2px;
  width: 100px;
  text-align: center; }
  /* line 11, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/faction_select.sass */
  faction.innersphere {
    color: cyan; }
  /* line 14, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/faction_select.sass */
  faction.clan {
    color: orange; }
