/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/flush_coolant.sass */
flush_coolant {
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
