/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info {
  background-color: #202020;
  width: 255px;
  width: 255px;
  padding-left: 40px;
  padding-right: 40px; }
  /* line 9, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info h1 {
    margin-left: 20px;
    color: #f3e016; }

/* line 13, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  /* line 17, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info_wrapper .info {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    min-width: 188px;
    text-align: center;
    border: 1px solid #424242;
    padding: 5px 10px;
    margin: 20px 20px; }
  /* line 26, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info_wrapper .info-title {
    display: block;
    color: #AFCEEC; }
  /* line 30, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info_wrapper .info-value {
    font-size: 2em; }
  /* line 33, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info_wrapper .info-value-divider {
    display: inline;
    color: #939393;
    font-size: 2.4em;
    padding-left: 7px; }
  /* line 39, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info_wrapper .info-label {
    color: #AFCEEC;
    display: block;
    font-size: 0.8em; }

/* line 45, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  font-family: monospace;
  border: 1px solid #424242;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 215px;
  margin: 20px; }
  /* line 55, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  .info_item .title {
    font-size: 1.4em;
    font-weight: bold;
    color: #AFCEEC;
    text-align: center; }
  /* line 63, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  .info_item span.label {
    font-size: 1.4em;
    display: block;
    font-size: 0.5em;
    color: #AFCEEC; }
  /* line 69, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  .info_item div.divider {
    font-size: 1.4em;
    padding: 0 8px;
    width: 10%;
    text-align: center;
    color: #939393; }
  /* line 76, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  .info_item .readings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    /* line 80, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
    .info_item .readings .reading {
      height: 2em;
      font-size: 1.4em;
      width: 45%;
      border: none; }
      /* line 86, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
      .info_item .readings .reading.left {
        text-align: right; }
      /* line 89, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
      .info_item .readings .reading.right {
        text-align: left; }
