/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  padding-left: 10px;
  background-color: #202020;
  max-width: 255px;
  min-width: 255px; }

/* line 8, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

/* line 12, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  min-width: 188px;
  text-align: center;
  border: 1px solid #424242;
  padding: 5px 10px;
  margin: 20px 20px; }

/* line 21, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-title {
  display: block;
  color: #AFCEEC; }

/* line 25, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-value {
  font-size: 2em; }

/* line 28, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-value-divider {
  display: inline;
  color: #939393;
  font-size: 2.4em;
  padding-left: 7px; }

/* line 34, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-label {
  color: #AFCEEC;
  display: block;
  font-size: 0.8em; }
