/* line 1, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info {
  padding-left: 10px;
  background-color: #202020;
  max-width: 255px;
  min-width: 255px; }
  /* line 8, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  info h1 {
    margin-left: 20px;
    color: #f3e016; }

/* line 12, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

/* line 16, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  min-width: 188px;
  text-align: center;
  border: 1px solid #424242;
  padding: 5px 10px;
  margin: 20px 20px; }

/* line 25, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-title {
  display: block;
  color: #AFCEEC; }

/* line 29, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-value {
  font-size: 2em; }

/* line 32, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-value-divider {
  display: inline;
  color: #939393;
  font-size: 2.4em;
  padding-left: 7px; }

/* line 38, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
.info-label {
  color: #AFCEEC;
  display: block;
  font-size: 0.8em; }

/* line 44, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
x_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  font-family: monospace;
  border: 1px solid #424242;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 215px;
  margin: 20px; }
  /* line 54, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  x_cont x_left {
    font-size: 1.4em;
    width: 45%;
    text-align: right; }
    /* line 59, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
    x_cont x_left label {
      display: block;
      font-size: 0.8em;
      color: #AFCEEC; }
  /* line 63, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  x_cont x_div {
    font-size: 1.4em;
    padding: 0 8px;
    width: 10%;
    text-align: center;
    color: #939393; }
  /* line 69, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
  x_cont x_right {
    font-size: 1.4em;
    width: 45%;
    text-align: left; }
    /* line 74, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/info.sass */
    x_cont x_right label {
      display: block;
      font-size: 0.8em;
      color: #AFCEEC; }
