/* line 2, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
smurfy_scraper label {
  display: block; }
/* line 4, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
smurfy_scraper input {
  display: block;
  border: none;
  padding-left: 5px;
  border-radius: 4px; }
  /* line 10, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
  smurfy_scraper input.loading {
    background-color: orange;
    color: #fff; }
  /* line 13, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
  smurfy_scraper input.loaded {
    background-color: green;
    color: #fff; }
  /* line 16, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
  smurfy_scraper input.errored {
    background-color: red;
    color: #fff; }

/* line 21, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/smurfy_scraper.sass */
.scraper_form {
  display: block !important; }
