/* line 3, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon_group_trigger.sass */
triggers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: 25%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 12, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon_group_trigger.sass */
group_trigger_wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  /* line 19, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon_group_trigger.sass */
  group_trigger_wrapper span {
    color: gray;
    margin-right: 5px; }

/* line 24, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon_group_trigger.sass */
weapon_group_trigger {
  border: 1px solid #ce3b3b;
  border-radius: 3px;
  padding: 2px;
  background-color: #ce3b3b;
  color: #FFF;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 3px; }
