/* line 3, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon.sass */
weapon {
  font-size: 1em;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  padding: 3px 5px;
  margin-top: 3px;
  min-width: 100px;
  max-width: 174px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 105; }
  /* line 19, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon.sass */
  weapon.laser {
    border: 1px solid #ce6c3b;
    background-color: #ce6c3b; }
  /* line 23, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon.sass */
  weapon.ballistic {
    border: 1px solid #a73bce;
    background-color: #a73bce; }
  /* line 27, /Users/Valerian/Projects/mwo-viewer/source/stylesheets/weapon.sass */
  weapon.missile {
    border: 1px solid #3b87ce;
    background-color: #3b87ce; }
